<div id="main-content">
    <section id="presentation">
    	<div class="page-section">
	        <h3 class="section-title">PRÉSENTATION</h3>
	        Le Camp est un moment privilégié pour la jeunesse en Christ de se retrouver lors d'un séjour d'été autour d’un thème spécial dans un endroit propice à la détente, à la convivialité, au partage et au repos.
	        Cette année nous aurons la participation des campus de Paris Sud-Est, Paris Nord-Ouest, Lyon, Tours, Rouen, Toulouse, Bruxelles, Martinique et Guadeloupe.
	        C’est donc un rendez-vous à ne manquer sous aucun prétexte du 25 Juillet au 1er Août 2015 !
    	</div>
    </section><!--   end presentation   -->

    <section id="videos">
    	<div class="page-section">
	        <h3 class="section-title">VIDÉO</h3>
	        [VIDÉO]
	        Venez expérimenter la présence de Dieu et la communion fraternelle pendant 7 jours dans un cadre d'exception.
    	</div>
    </section><!--   end videos   -->

    <section id="inscription">
    	<div class="page-section">
	        <h3 class="section-title">INSCRIPTION</h3>
	        Pour vous inscrire, rien de plus simple: rendez-vous sur le stand du Ministère Jeunes d'Impact dans un campus Impact Centre Chrétien ou remplissez directement le formulaire ci-dessous.
	        La participation au Camp Jeunesse 2015 est de 250€ par personne.
	        N'attendez plus et rejoignez nous !
	        <br/>
	        Le Camp démarre dans <timer end-time="dateDuCamp">{{days}} jour{{daysS}}, {{hours}} heure{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} seconde{{secondsS}}.</timer>
	        <br/>
	        Il y a actuellement [NB] inscrits.
	        <div id="inscription-form">
	        	Nom : <input type="text"/>
	        	Prénom : <input type="text"/>
	        	Adresse e-mail : <input type="text"/>
	        	Adresse Postale : <input type="text"/>
	        	Numéro de téléphone : <input type="text"/>
	        	Membre d'ICC : <input type="checkbox"/>
	        	De quel campus ? : <input type="text"/>
	        	Date de naissance : <input type="text"/>


	        </div>
	    </div>
    </section><!--   end inscription   -->

    <section id="contact">
    	<div class="page-section">
	        <h3 class="section-title">CONTACT</h3>
	        Retrouvez nous sur facebook (lien facebook) et posez nous toute vos questions sur cette page.
    	</div>
    </section><!--   end contact   -->
    <section id="faq">
    	<div class="page-section">
	        <h3 class="section-title">FOIRE AUX QUESTIONS</h3>
	        Voici quelques unes des questions fréquemment posés:
	        <ul class="faq-item">
	        	<li class="faq-question">Est-ce que le camp est réservés aux membres de ICC ?</li>
	        	<li class="faq-answer">Le camp est ouvert également aux jeunes qui ne fréquente pas un campus ICC.</li>
	        </ul>
    	</div>
    </section><!--   end faq   -->
</div>